# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Database
*.db
*.db-journal

# Credentials & secrets (VERY IMPORTANT!)
credentials.json
*.json

# IDE
.vscode/
.idea/
*.swp
*.claude

# OS
.DS_Store
Thumbs.db

#py files
google_sheet_conn.py
sql_conn.py